@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700|Permanent+Marker');

body {
  background-color: #242838;
  color: #ffe391;
}

header {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  margin: 0;
  color: #009fb7;
}

th {
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  color: #fed766;
}

table {
  width: 100%;
}

td {
  height: 30px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.green {
  color: #b3efb2
}

.red {
  color: #f56960;
}

.general-data {
  font-weight: 700;
  font-size: 1rem;
  color: #fed766;
}
